.App {
  text-align: center;
}
.classFont { font-size: 1rem; }
.font-Montserrat {
  font-family: "Montserrat";
 }
.font-Monsterrat-Bold{
  font-family: "Montserrat-Bold";
}
.number{
  color: rgb(0, 0, 0);
  opacity: 0.2;
  font-family: Montserrat Regular;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  font-size: 111px;
  line-height: 1;
}
.dropList{
  list-style:none;
  
}